@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", "open-sans";
}
.myHeader {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}
#hero-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.534) 100%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 100%);
}
#details-img {
  width: 100%;
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.219) 100%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 100%);
}
.caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
  margin-bottom: 10em;
  max-width: 60%;
}
.movieName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.trending-list::-webkit-scrollbar {
  display: none;
}
.stats > div::after {
  content: "|";
  margin: 0 5px;
}
.stats > div:last-child::after {
  content: "";
  margin: 0;
}
