@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", "open-sans";
}
*:focus {
  outline-color: transparent;
}
/* .myHeader {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
} */
.checkbox-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 18px;
  height: 18px;
  border-radius: 3em;
  background-color: #864879;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: #e9a6a6;
}

.checkbox-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 10px;
  width: 8px;
  height: 8px;
  display: none;
  border-radius: 50%;
  background-color: white;
}

.checkbox-input:checked + .checkbox-label::after {
  display: block;
}
#hero-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.534) 100%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 100%);
}
#details-img {
  width: 100%;
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.219) 100%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 100%);
}
.caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
  margin-bottom: 10em;
  max-width: 60%;
}
.movieName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.trending-list::-webkit-scrollbar {
  display: none;
}
.stats > div::after {
  content: "|";
  margin: 0 5px;
}
.stats > div:last-child::after {
  content: "";
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #3f3351; /* Track color */
  border-radius: 5em;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#3f3351, #e9a6a6); /* Thumb color */
  border-radius: 5em;
}
